@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  --sb-track-color: #18181b;
  --sb-thumb-color: #424242;
  --sb-size: 13px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  background-color: var(--sb-track-color);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}
