@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #0070f3;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  /* line-height: 33px; */
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
