@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #424242;
  --sb-thumb-color: #676767;
  --sb-size: 15px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  background-color: var(--sb-track-color);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
